footer.footer
  .wrapper.footer__wrapper
    .footer__container
      .footer__info
        a.logo.footer__subtitle Brandi
        p.footer__description eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .footer__links
        h3.title.text--weight--bold.footer__links-title.footer__subtitle  Explore
        .footer__links-holder
          ul.footer__list
            li.footer__list-item
              a.footer__link Envato
            li.footer__list-item
              a.footer__link Themecurve
            li.footer__list-item
              a.footer__link Kreativehowcase
            li.footer__list-item
              a.footer__link Freebiescurve
          ul.footer__list
            li.footer__list-item
              a.footer__link Themeforest
            li.footer__list-item
              a.footer__link Microsoft
            li.footer__list-item
              a.footer__link Google
            li.footer__list-item
              a.footer__link Yahoo
      .footer__author-info
        p.p--display--inline-block Created with 
        .heart-icon.heart-icon--footer.footer__heart-icon
          <svg viewBox="0 0 24 24" class="heart-icon__svg" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"/></svg>
        p.p--display--inline-block by <span class="text--color--black text--weight--semibold">themecurve</span>, 
        p exclusive for kreativeshowcase
        p.footer__copyright.text--color--black.text--weight--semibold © 2014 Brandi. All Rights Reserved.