header.header
  .wrapper.header__wrapper
    .logo-holder
      a.logo.logo--header Brandi
      span.slogan I’am your tag line
    nav.main-menu
      ul.main-menu__list
        li.main-menu__item
          a(href="#home").main-menu__link Home
        li.main-menu__item
          a(href="#features").main-menu__link Features
        li.main-menu__item
          a(href="#contact").main-menu__link Contact
    .burger.header__burger
        .burger__bar.burger__bar--n--1
        .burger__bar.burger__bar--n--2
        .burger__bar.burger__bar--n--3
