main.page-content
  section.slider.owl-carousel.owl-theme.owl-loaded#home
    .owl-stage-outer
      .owl-stage
        .slider__item.owl-item
          .slider__text
            h2.title.slider__title Meet <span class="text--weight--bold">Brandi</span>!
            h3.title.slider__subtitle <span class="text--color--green">/creative</span> <span class="text--color--transparent">one page template.</span>
            p.title.slider__slogan We are a team of professionals
        .slider__item.owl-item
          .slider__text
            h2.title.slider__title Meet <span class="text--weight--bold">Brandi</span>!
            h3.title.slider__subtitle <span class="text--color--green">/creative</span> <span class="text--color--transparent">one page template.</span>
            p.title.slider__slogan We are a team of professionals
        .slider__item.owl-item
          .slider__text
            h2.title.slider__title Meet <span class="text--weight--bold">Brandi</span>!
            h3.title.slider__subtitle <span class="text--color--green">/creative</span> <span class="text--color--transparent">one page template.</span>
            p.title.slider__slogan We are a team of professionals    
  section.page-section.features#features
    .wrapper.features__wrapper
      h2.title.features__title.text--weight--bold.text--color--green.text--transform--uppercase features
      .heart-icon.features__heart.heart-icon--section
        <svg viewBox="0 0 24 24" class="heart-icon__svg" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"/></svg>
      .features__container
        .feature
          .feature__icon.feature__icon--branding
          .feature__info
            h3.title.feature__title.text--weight--bold Branding
            p.feature__description.text--color--transparent Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
        .feature
          .feature__icon.feature__icon--development
          .feature__info
            h3.title.feature__title.text--weight--bold Development
            p.feature__description.text--color--transparent Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
        .feature
          .feature__icon.feature__icon--consulting
          .feature__info
            h3.title.feature__title.text--weight--bold Consulting
            p.feature__description.text--color--transparent Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
  section.page-section.contact#contact
    .wrapper.contact__wrapper
      h2.title.contact__title.text--weight--bold.text--color--green.text--transform--uppercase let's discuss
      .heart-icon.features__heart.heart-icon--section
        <svg viewBox="0 0 24 24" class="heart-icon__svg" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"/></svg>
      p.title.contact__slogan.text--weight--bold.text--color--transparent Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
      .contact__container
        .contact__adress
          h3.title.contact__adress-title.text--color--transparent Cras at ultrices erat, sed vul&shyputate!
          p.text--color--transparent 2345 Setwant natrer, 1234, 
          p.text--color--transparent Washington. United States.
          p.text--color--transparent (401) 1234 567
          p.text--color--transparent hello@brandi.com
          p.text--color--transparent www.brandi.com
        .contact__form
          h3.title.contact__form-title.text--weight--bold Say hello!
          form(action="" novalidate).form
            .form__element
              input(type="text" placeholder="Name").form__input.form__name
              .form__error Should contain only letters and not be empty
            .form__element
              input(type="text" placeholder="City").form__input.form
            .form__element
              input(type="email" placeholder="Email").form__input.form__email
              .form__error Please enter correct email
            .form__element
               input(type="phone" placeholder="Phone").form__input.form__phone
               .form__error Please enter correct phone number
            .form__element.form__message
              textarea(name="message" placeholder="Message").form__textarea.form__input
            .form__element.form__button
              button.button
                .button__icon
                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 382.117 382.117" style="enable-background:new 0 0 382.117 382.117;" xml:space="preserve"><path d="M336.764,45.945H45.354C20.346,45.945,0,65.484,0,89.5v203.117c0,24.016,20.346,43.555,45.354,43.555h291.41 c25.008,0,45.353-19.539,45.353-43.555V89.5C382.117,65.484,361.772,45.945,336.764,45.945z M336.764,297.72H45.354 c-3.676,0-6.9-2.384-6.9-5.103V116.359l131.797,111.27c2.702,2.282,6.138,3.538,9.676,3.538l22.259,0.001 c3.536,0,6.974-1.257,9.677-3.539l131.803-111.274v176.264C343.664,295.336,340.439,297.72,336.764,297.72z M191.059,192.987 L62.87,84.397h256.378L191.059,192.987z"/></svg>
                .button__text Send message
      .modal.block__centred.contact__modal
        .modal__wrapper 
          p.modal__text Thanks for contacting us!
          .modal__close